@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-CWIjxTRMCZrY_font-family: "Inter", sans-serif;
  --mixin-CWIjxTRMCZrY_font-size: 16px;
  --mixin-CWIjxTRMCZrY_font-weight: 400;
  --mixin-CWIjxTRMCZrY_font-style: normal;
  --mixin-CWIjxTRMCZrY_color: #535353;
  --mixin-CWIjxTRMCZrY_text-align: left;
  --mixin-CWIjxTRMCZrY_text-transform: none;
  --mixin-CWIjxTRMCZrY_line-height: 1.5;
  --mixin-CWIjxTRMCZrY_letter-spacing: normal;
  --mixin-CWIjxTRMCZrY_white-space: pre-wrap;
  --mixin-CWIjxTRMCZrY_user-select: text;
  --mixin-CWIjxTRMCZrY_text-decoration-line: none;
  --mixin-CWIjxTRMCZrY_text-overflow: clip;
  --mixin-w5mnPhuNAS2i_color: #000000;
  --mixin-w5mnPhuNAS2i_font-weight: 700;
  --mixin-w5mnPhuNAS2i_font-size: 64px;
  --mixin-w5mnPhuNAS2i_line-height: 1;
  --mixin-w5mnPhuNAS2i_letter-spacing: -1px;
  --mixin-w5mnPhuNAS2i_white-space: pre-wrap;
  --mixin-s-4nEvO0ir5B_color: #000000;
  --mixin-s-4nEvO0ir5B_font-size: 48px;
  --mixin-s-4nEvO0ir5B_font-weight: 700;
  --mixin-s-4nEvO0ir5B_letter-spacing: -0.5px;
  --mixin-s-4nEvO0ir5B_line-height: 1.1;
  --mixin-s-4nEvO0ir5B_white-space: pre-wrap;
  --mixin-WEzpA2GZGAhf_color: #0070f3;
  --mixin-WEzpA2GZGAhf_white-space: pre-wrap;
  --mixin-dedc4sBfeG7h_color: #000000;
  --mixin-dedc4sBfeG7h_font-size: 32px;
  --mixin-dedc4sBfeG7h_font-weight: 600;
  --mixin-dedc4sBfeG7h_line-height: 1.2;
  --mixin-dedc4sBfeG7h_white-space: pre-wrap;
  --mixin-hBwgE6dxqTD3_color: #000000;
  --mixin-hBwgE6dxqTD3_font-size: 24px;
  --mixin-hBwgE6dxqTD3_font-weight: 600;
  --mixin-hBwgE6dxqTD3_line-height: 1.3;
  --mixin-hBwgE6dxqTD3_white-space: pre-wrap;
  --mixin-4PwCXlAT0Ti5_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4PwCXlAT0Ti5_border-bottom-color: #dddddd;
  --mixin-4PwCXlAT0Ti5_border-bottom-style: solid;
  --mixin-4PwCXlAT0Ti5_border-bottom-width: 1px;
  --mixin-4PwCXlAT0Ti5_border-left-color: #dddddd;
  --mixin-4PwCXlAT0Ti5_border-left-style: solid;
  --mixin-4PwCXlAT0Ti5_border-left-width: 1px;
  --mixin-4PwCXlAT0Ti5_border-right-color: #dddddd;
  --mixin-4PwCXlAT0Ti5_border-right-style: solid;
  --mixin-4PwCXlAT0Ti5_border-right-width: 1px;
  --mixin-4PwCXlAT0Ti5_border-top-color: #dddddd;
  --mixin-4PwCXlAT0Ti5_border-top-style: solid;
  --mixin-4PwCXlAT0Ti5_border-top-width: 1px;
  --mixin-4PwCXlAT0Ti5_border-bottom-left-radius: 3px;
  --mixin-4PwCXlAT0Ti5_border-bottom-right-radius: 3px;
  --mixin-4PwCXlAT0Ti5_border-top-left-radius: 3px;
  --mixin-4PwCXlAT0Ti5_border-top-right-radius: 3px;
  --mixin-4PwCXlAT0Ti5_font-family: "Inconsolata";
  --mixin-4PwCXlAT0Ti5_padding-bottom: 1px;
  --mixin-4PwCXlAT0Ti5_padding-left: 4px;
  --mixin-4PwCXlAT0Ti5_padding-right: 4px;
  --mixin-4PwCXlAT0Ti5_padding-top: 1px;
  --mixin-4PwCXlAT0Ti5_white-space: pre-wrap;
  --mixin-Mj7khCPzQqhf_border-left-color: #dddddd;
  --mixin-Mj7khCPzQqhf_border-left-style: solid;
  --mixin-Mj7khCPzQqhf_border-left-width: 3px;
  --mixin-Mj7khCPzQqhf_color: #888888;
  --mixin-Mj7khCPzQqhf_padding-left: 10px;
  --mixin-Mj7khCPzQqhf_white-space: pre-wrap;
  --mixin-A_MytLY1uc-o_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-A_MytLY1uc-o_border-bottom-color: #dddddd;
  --mixin-A_MytLY1uc-o_border-bottom-style: solid;
  --mixin-A_MytLY1uc-o_border-bottom-width: 1px;
  --mixin-A_MytLY1uc-o_border-left-color: #dddddd;
  --mixin-A_MytLY1uc-o_border-left-style: solid;
  --mixin-A_MytLY1uc-o_border-left-width: 1px;
  --mixin-A_MytLY1uc-o_border-right-color: #dddddd;
  --mixin-A_MytLY1uc-o_border-right-style: solid;
  --mixin-A_MytLY1uc-o_border-right-width: 1px;
  --mixin-A_MytLY1uc-o_border-top-color: #dddddd;
  --mixin-A_MytLY1uc-o_border-top-style: solid;
  --mixin-A_MytLY1uc-o_border-top-width: 1px;
  --mixin-A_MytLY1uc-o_border-bottom-left-radius: 3px;
  --mixin-A_MytLY1uc-o_border-bottom-right-radius: 3px;
  --mixin-A_MytLY1uc-o_border-top-left-radius: 3px;
  --mixin-A_MytLY1uc-o_border-top-right-radius: 3px;
  --mixin-A_MytLY1uc-o_font-family: "Inconsolata";
  --mixin-A_MytLY1uc-o_padding-bottom: 3px;
  --mixin-A_MytLY1uc-o_padding-left: 6px;
  --mixin-A_MytLY1uc-o_padding-right: 6px;
  --mixin-A_MytLY1uc-o_padding-top: 3px;
  --mixin-A_MytLY1uc-o_white-space: pre-wrap;
  --mixin-TG1GumWK0Xx3_display: flex;
  --mixin-TG1GumWK0Xx3_flex-direction: column;
  --mixin-TG1GumWK0Xx3_align-items: stretch;
  --mixin-TG1GumWK0Xx3_justify-content: flex-start;
  --mixin-TG1GumWK0Xx3_list-style-position: outside;
  --mixin-TG1GumWK0Xx3_padding-left: 40px;
  --mixin-TG1GumWK0Xx3_position: relative;
  --mixin-TG1GumWK0Xx3_list-style-type: disc;
  --mixin-TG1GumWK0Xx3_white-space: pre-wrap;
  --mixin-qq5cm8Wtu9xk_display: flex;
  --mixin-qq5cm8Wtu9xk_flex-direction: column;
  --mixin-qq5cm8Wtu9xk_align-items: stretch;
  --mixin-qq5cm8Wtu9xk_justify-content: flex-start;
  --mixin-qq5cm8Wtu9xk_list-style-position: outside;
  --mixin-qq5cm8Wtu9xk_padding-left: 40px;
  --mixin-qq5cm8Wtu9xk_position: relative;
  --mixin-qq5cm8Wtu9xk_list-style-type: decimal;
  --mixin-qq5cm8Wtu9xk_white-space: pre-wrap;
  --mixin-x5Lu8Q6lnIIL_color: #000000;
  --mixin-x5Lu8Q6lnIIL_font-size: 20px;
  --mixin-x5Lu8Q6lnIIL_font-weight: 600;
  --mixin-x5Lu8Q6lnIIL_line-height: 1.5;
  --mixin-x5Lu8Q6lnIIL_white-space: pre-wrap;
  --mixin-YNg6tU4UtO2e_color: #000000;
  --mixin-YNg6tU4UtO2e_font-size: 16px;
  --mixin-YNg6tU4UtO2e_font-weight: 600;
  --mixin-YNg6tU4UtO2e_line-height: 1.5;
  --mixin-YNg6tU4UtO2e_white-space: pre-wrap;
  --mixin-Iynyet4zFntm_color: #3291ff;
  --mixin-Iynyet4zFntm_white-space: pre-wrap;
  --mixin-cbiPoP8L6fkX_white-space: pre-wrap;
  --mixin-PpXePyOdDPo5_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-CWIjxTRMCZrY_font-family);
  font-size: var(--mixin-CWIjxTRMCZrY_font-size);
  font-weight: var(--mixin-CWIjxTRMCZrY_font-weight);
  font-style: var(--mixin-CWIjxTRMCZrY_font-style);
  color: var(--mixin-CWIjxTRMCZrY_color);
  text-align: var(--mixin-CWIjxTRMCZrY_text-align);
  text-transform: var(--mixin-CWIjxTRMCZrY_text-transform);
  line-height: var(--mixin-CWIjxTRMCZrY_line-height);
  letter-spacing: var(--mixin-CWIjxTRMCZrY_letter-spacing);
  white-space: var(--mixin-CWIjxTRMCZrY_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-w5mnPhuNAS2i_color);
  font-weight: var(--mixin-w5mnPhuNAS2i_font-weight);
  font-size: var(--mixin-w5mnPhuNAS2i_font-size);
  line-height: var(--mixin-w5mnPhuNAS2i_line-height);
  letter-spacing: var(--mixin-w5mnPhuNAS2i_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-s-4nEvO0ir5B_color);
  font-size: var(--mixin-s-4nEvO0ir5B_font-size);
  font-weight: var(--mixin-s-4nEvO0ir5B_font-weight);
  letter-spacing: var(--mixin-s-4nEvO0ir5B_letter-spacing);
  line-height: var(--mixin-s-4nEvO0ir5B_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-WEzpA2GZGAhf_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-dedc4sBfeG7h_color);
  font-size: var(--mixin-dedc4sBfeG7h_font-size);
  font-weight: var(--mixin-dedc4sBfeG7h_font-weight);
  line-height: var(--mixin-dedc4sBfeG7h_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-hBwgE6dxqTD3_color);
  font-size: var(--mixin-hBwgE6dxqTD3_font-size);
  font-weight: var(--mixin-hBwgE6dxqTD3_font-weight);
  line-height: var(--mixin-hBwgE6dxqTD3_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-4PwCXlAT0Ti5_font-family);
  border-radius: var(--mixin-4PwCXlAT0Ti5_border-top-left-radius)
    var(--mixin-4PwCXlAT0Ti5_border-top-right-radius)
    var(--mixin-4PwCXlAT0Ti5_border-bottom-right-radius)
    var(--mixin-4PwCXlAT0Ti5_border-bottom-left-radius);
  padding: var(--mixin-4PwCXlAT0Ti5_padding-top)
    var(--mixin-4PwCXlAT0Ti5_padding-right)
    var(--mixin-4PwCXlAT0Ti5_padding-bottom)
    var(--mixin-4PwCXlAT0Ti5_padding-left);
  border-top: var(--mixin-4PwCXlAT0Ti5_border-top-width)
    var(--mixin-4PwCXlAT0Ti5_border-top-style)
    var(--mixin-4PwCXlAT0Ti5_border-top-color);
  border-right: var(--mixin-4PwCXlAT0Ti5_border-right-width)
    var(--mixin-4PwCXlAT0Ti5_border-right-style)
    var(--mixin-4PwCXlAT0Ti5_border-right-color);
  border-bottom: var(--mixin-4PwCXlAT0Ti5_border-bottom-width)
    var(--mixin-4PwCXlAT0Ti5_border-bottom-style)
    var(--mixin-4PwCXlAT0Ti5_border-bottom-color);
  border-left: var(--mixin-4PwCXlAT0Ti5_border-left-width)
    var(--mixin-4PwCXlAT0Ti5_border-left-style)
    var(--mixin-4PwCXlAT0Ti5_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Mj7khCPzQqhf_color);
  padding-left: var(--mixin-Mj7khCPzQqhf_padding-left);
  border-left: var(--mixin-Mj7khCPzQqhf_border-left-width)
    var(--mixin-Mj7khCPzQqhf_border-left-style)
    var(--mixin-Mj7khCPzQqhf_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-A_MytLY1uc-o_font-family);
  border-radius: var(--mixin-A_MytLY1uc-o_border-top-left-radius)
    var(--mixin-A_MytLY1uc-o_border-top-right-radius)
    var(--mixin-A_MytLY1uc-o_border-bottom-right-radius)
    var(--mixin-A_MytLY1uc-o_border-bottom-left-radius);
  padding: var(--mixin-A_MytLY1uc-o_padding-top)
    var(--mixin-A_MytLY1uc-o_padding-right)
    var(--mixin-A_MytLY1uc-o_padding-bottom)
    var(--mixin-A_MytLY1uc-o_padding-left);
  border-top: var(--mixin-A_MytLY1uc-o_border-top-width)
    var(--mixin-A_MytLY1uc-o_border-top-style)
    var(--mixin-A_MytLY1uc-o_border-top-color);
  border-right: var(--mixin-A_MytLY1uc-o_border-right-width)
    var(--mixin-A_MytLY1uc-o_border-right-style)
    var(--mixin-A_MytLY1uc-o_border-right-color);
  border-bottom: var(--mixin-A_MytLY1uc-o_border-bottom-width)
    var(--mixin-A_MytLY1uc-o_border-bottom-style)
    var(--mixin-A_MytLY1uc-o_border-bottom-color);
  border-left: var(--mixin-A_MytLY1uc-o_border-left-width)
    var(--mixin-A_MytLY1uc-o_border-left-style)
    var(--mixin-A_MytLY1uc-o_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-TG1GumWK0Xx3_display);
  flex-direction: var(--mixin-TG1GumWK0Xx3_flex-direction);
  align-items: var(--mixin-TG1GumWK0Xx3_align-items);
  justify-content: var(--mixin-TG1GumWK0Xx3_justify-content);
  list-style-position: var(--mixin-TG1GumWK0Xx3_list-style-position);
  padding-left: var(--mixin-TG1GumWK0Xx3_padding-left);
  position: var(--mixin-TG1GumWK0Xx3_position);
  list-style-type: var(--mixin-TG1GumWK0Xx3_list-style-type);
  flex-column-gap: var(--mixin-TG1GumWK0Xx3_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-qq5cm8Wtu9xk_display);
  flex-direction: var(--mixin-qq5cm8Wtu9xk_flex-direction);
  align-items: var(--mixin-qq5cm8Wtu9xk_align-items);
  justify-content: var(--mixin-qq5cm8Wtu9xk_justify-content);
  list-style-position: var(--mixin-qq5cm8Wtu9xk_list-style-position);
  padding-left: var(--mixin-qq5cm8Wtu9xk_padding-left);
  position: var(--mixin-qq5cm8Wtu9xk_position);
  list-style-type: var(--mixin-qq5cm8Wtu9xk_list-style-type);
  flex-column-gap: var(--mixin-qq5cm8Wtu9xk_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-x5Lu8Q6lnIIL_color);
  font-size: var(--mixin-x5Lu8Q6lnIIL_font-size);
  font-weight: var(--mixin-x5Lu8Q6lnIIL_font-weight);
  line-height: var(--mixin-x5Lu8Q6lnIIL_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-YNg6tU4UtO2e_color);
  font-size: var(--mixin-YNg6tU4UtO2e_font-size);
  font-weight: var(--mixin-YNg6tU4UtO2e_font-weight);
  line-height: var(--mixin-YNg6tU4UtO2e_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Iynyet4zFntm_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
